.sectionTwo {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 100px;
}

.sectionTwo > div {
    display: flex;
    flex: 1;
    gap: 20px;
}

.sectionTwo > div span {
    display: inline-block;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-weight: 800;
}

.sectionTwo > div p {
    color: gray;
}